<h1>Events#new</h1>
<div>
  <%= form_for @event do |event| %>
    <div>
      <%= event.label :title %>
      <div>
        <%= event.text_field :title, placeholder: "Enter the title" %>
      </div>
    </div>
    <div>
      <%= event.label :description %>
      <div>
        <%= event.text_field :description, placeholder: "Enter the description" %>
      </div>
    </div>
    <div>
      
      <div>
        <%= fields_for @attendee do |attendee| %>
        <div>
          <%= attendee.label :attendee_id %>
        </div>
        <%= attendee.text_field :attendee_id %>
        <div>
          <%= attendee.label :attended_event_id %>
        </div>
        <%= attendee.text_field :attended_event_id %>
      <% end %>
      </div>
    </div>
    <div>
      <%= event.submit 'Add' %>
    </div>
  <% end %>
</div>
<p id="notice"><%= flash[:notice] %></p>