<!DOCTYPE html>
<html>

<head>
  <title>PrivateEvents2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
  <div class="Links">
    <%= link_to "LogIn", sessions_new_path %>
    <%= link_to "Register", new_user_path %>
    <%= link_to "New Event", new_event_path %>
    <%= link_to "All user events", events_path %>
  </div>
  
</body>

</html>